// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  margin: 0;
  outline: none;
  padding: 0;
}
